@page "/docs/changelog"

<PageTitle>Blazor PDF | Changelog</PageTitle>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Changelog</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-15] - V2.0.0 (Current Release)</MudText>
            <MudText>Javascript interop code rewritten in Typescript</MudText>
            <MudText>Added alternative scrolling mode</MudText>
            <MudText>Added ability to print documents</MudText>
            <MudText>Added support for password protected PDF documents</MudText>
            <MudText>Better handling of malformed PDF files</MudText>
            <MudText>Complete rewrite of documentation site</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-15] - V1.1.0 </MudText>
            <MudText>Added support for page thumbnails which can be toggled on/off</MudText>
            <MudText>Add some basic code documentation to the PDF viewer parameters</MudText>
            <MudText>Small improvements to the documentation website</MudText>
            <MudText>Add ability to change color of icons and PDF background</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-08] - V1.0.1</MudText>
            <MudText>FIXED: Bug that was preventing JS code from being executed</MudText>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-07] - V1.0.0 (Initial Release)</MudText>
            <MudText>Initial Release</MudText>
        </MudItem>
    </MudGrid>
</div>

@code {

}