@page "/docs/changelog"

<PageTitle>Blazor PDF | Changelog</PageTitle>

<PageMetadata Title="Blazor PDF | Changelog"
              Description="Latest Blazor PDF Version: 1.0.2"
              Url="https://blazorpdf.info/docs/changelog"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Changelog</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-03-23] - V1.0.2 (Current Release)</MudText>
            <MudText>Added fix to allow base64 encoded PDFs to be loaded</MudText>
            <MudText>Added `UseProjectWorker` config option to allow Blazor PDF to work with MAUI Hybrid applications</MudText>
            <MudText>Mark some internal classes as internal</MudText>
            <MudText>Fix thumbnails displaying incorrectly on very wide displays</MudText>
            <MudText>Updated readme to point to new url</MudText>
            <MudText>Dedicated core test project now docs site is using packages</MudText>
            <MudText>Fixed some namespaces using the old project name</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-03-23] - V1.0.1</MudText>
            <MudText>Rename project from MudPdf to Blazor PDF</MudText>
            <MudText>Complete rewrite of core functionality to remove MudBlazor dependency</MudText>
            <MudText>New package to provide dedicated MudBlazor integration</MudText>
            <MudText>Rewrite of JavaScript interop code</MudText>
            <MudText>Rewrite of PDF Viewer in vanilla HTML & CSS</MudText>
            
            <MudAlert Class="my-3">Project renamed to Gotho.BlazorPDF, versioning reset!</MudAlert>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-15] - [LEGACY] V3.0.1</MudText>
            <MudText>Rename project from MudPdf to Blazor PDF</MudText>
            <MudText>Complete rewrite of core functionality to remove MudBlazor dependency</MudText>
            <MudText>New package to provide dedicated MudBlazor integration</MudText>
            <MudText>Rewrite of JavaScript interop code</MudText>
            <MudText>Rewrite of PDF Viewer in vanilla HTML & CSS</MudText>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-15] - [LEGACY] V2.0.0</MudText>
            <MudText>Javascript interop code rewritten in Typescript</MudText>
            <MudText>Added alternative scrolling mode</MudText>
            <MudText>Added ability to print documents</MudText>
            <MudText>Added support for password protected PDF documents</MudText>
            <MudText>Better handling of malformed PDF files</MudText>
            <MudText>Complete rewrite of documentation site</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-15] - [LEGACY] V1.1.0 </MudText>
            <MudText>Added support for page thumbnails which can be toggled on/off</MudText>
            <MudText>Add some basic code documentation to the PDF viewer parameters</MudText>
            <MudText>Small improvements to the documentation website</MudText>
            <MudText>Add ability to change color of icons and PDF background</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-08] - [LEGACY] V1.0.1</MudText>
            <MudText>FIXED: Bug that was preventing JS code from being executed</MudText>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-02-07] - [LEGACY] V1.0.0 (Initial Release)</MudText>
            <MudText>Initial Release</MudText>
        </MudItem>
    </MudGrid>
</div>

@code {

}