@page "/docs/changelog"

<PageTitle>Blazor PDF | Changelog</PageTitle>

<PageMetadata Title="Blazor PDF | Changelog"
              Description="Latest Blazor PDF Version: 1.0.2"
              Url="https://blazorpdf.info/docs/changelog"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Changelog</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-04-10] - V1.1.0</MudText>
            <MudText>Implemented ability to draw on PDF documents.</MudText>
            <MudText>Printing documents will also include any drawings made.</MudText>
            <MudText>Configuration of labels and colors can now be done at runtime in order to support dynamically switching languages / themes.</MudText>
            <MudText>Added `BlazorPdfLocalizedStrings` and `BlazorPdfColors`.</MudText>
            <MudText>Removed label and color configuration when configuring BlazorPdf with `AddBlazorPdfViewer()`.</MudText>
            <MudText>Improved PdfViewer component to better stack the text layer on top of the document canvas.</MudText>
            <MudText>Improved the look of the PdfViewer component on smaller screens.</MudText>
            <MudText>Added additional comments to some of the PdfViewer component methods.</MudText>
            <MudText>Fixed text layer behaving oddly when resizing the window.</MudText>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-03-29] - V1.0.3</MudText>
            <MudText>Added `LoadPdfAsync` method as an alternative to specifying a URL parameter</MudText>
            <MudText>Fixed downloading and printing not working for PDFs loaded as a base64 string</MudText>
            
            <MudText Class="mt-5" Typo="Typo.h4">[2025-03-23] - V1.0.2</MudText>
            <MudText>Added fix to allow base64 encoded PDFs to be loaded</MudText>
            <MudText>Added `UseProjectWorker` config option to allow Blazor PDF to work with MAUI Hybrid applications</MudText>
            <MudText>Mark some internal classes as internal</MudText>
            <MudText>Fix thumbnails displaying incorrectly on very wide displays</MudText>
            <MudText>Updated readme to point to new url</MudText>
            <MudText>Dedicated core test project now docs site is using packages</MudText>
            <MudText>Fixed some namespaces using the old project name</MudText>

            <MudText Class="mt-5" Typo="Typo.h4">[2025-03-23] - V1.0.1</MudText>
            <MudText>Rename project from MudPdf to Blazor PDF</MudText>
            <MudText>Complete rewrite of core functionality to remove MudBlazor dependency</MudText>
            <MudText>New package to provide dedicated MudBlazor integration</MudText>
            <MudText>Rewrite of JavaScript interop code</MudText>
            <MudText>Rewrite of PDF Viewer in vanilla HTML & CSS</MudText>
        </MudItem>
    </MudGrid>
</div>

@code {

}