@page "/docs/configuration/colours"
@using Gotho.BlazorPdf.Config
@using MudBlazor.PdfViewer.Docs.Code
@using MudBlazor.Utilities

<PageTitle>Blazor PDF | Configuration</PageTitle>

<PageMetadata Title="Blazor PDF | Color Config"
              Description="The colour of the PDF background, toolbar and icons can be overridden with your preferred values."
              Url="https://blazorpdf.info/docs/configuration/colours"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Configuration | Colours</MudText>
            <MudText>The colour of the PDF background, toolbar and icons can be overridden with your preferred values. You can do this by passing in an instance of BlazorPdfColors to your PDF Viewer</MudText>
            
            <MudStack Row="true" Class="my-5">
                <MudColorPicker ValueChanged="ToolBarChanged" Value="PdfColors.Toolbar" ShowAlpha="false" Label="Toolbar" ColorPickerView="ColorPickerView.Spectrum" />
                
                <MudColorPicker ValueChanged="BackgroundChanged" Value="PdfColors.Background" ShowAlpha="false" Label="Background" ColorPickerView="ColorPickerView.Spectrum"/>
                
                <MudColorPicker ValueChanged="IconChanged" Value="PdfColors.Icon" ShowAlpha="false" Label="Icon" ColorPickerView="ColorPickerView.Spectrum" />
            </MudStack>

            <PdfViewer
                Colors="PdfColors"
                Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf"/>
            
            <CodeSnippet Body="@Colours.Config"/>
        </MudItem>
    </MudGrid>
</div>

@code {

    private BlazorPdfColors PdfColors { get; set; } = new();
    
    private void ToolBarChanged(MudColor obj)
    {
        PdfColors = new BlazorPdfColors
        {
            Toolbar = obj.Value,
            Icon = PdfColors.Icon,
            Background = PdfColors.Background
        };
        StateHasChanged();
    }

    private void BackgroundChanged(MudColor obj)
    {
        PdfColors = new BlazorPdfColors
        {
            Toolbar = PdfColors.Toolbar,
            Icon = PdfColors.Icon,
            Background = obj.Value
        };
        StateHasChanged();
    }

    private void IconChanged(MudColor obj)
    {
        PdfColors = new BlazorPdfColors
        {
            Toolbar = PdfColors.Toolbar,
            Icon = obj.Value,
            Background = PdfColors.Background
        };
        StateHasChanged();
    }

}