@page "/docs/configuration/labels"
@using Gotho.BlazorPdf.Config
@using MudBlazor.PdfViewer.Docs.Code

<PageTitle>Blazor PDF | Configuration</PageTitle>

<PageMetadata Title="Blazor PDF | Labels"
              Description="All text / labels in the PDF viewer can be changed in order to help localise the PDF experience."
              Url="https://blazorpdf.info/docs/configuration/labels"/>

<div style="max-width: 1440px; margin: 3em auto auto;">

    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto" Class="mb-5">
            <MudText Typo="Typo.h2" Class="mb-5">Configuration | Labels</MudText>
            <MudText Class="mb-5">All text / labels in the PDF viewer can be changed in order to help localise the PDF experience.
                This can be done by passing in an instance of BlazorPdfLocalizedStrings to your PDF viewer</MudText>

            <CodeSnippet Body="@Labels.Config" Lang="csharp"/>
            
            <PdfViewer 
                LocalizedStrings="FinnishStrings" 
                Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf"/>

        </MudItem>
    </MudGrid>
</div>

@code {

    private BlazorPdfLocalizedStrings FinnishStrings = new()
    { 
        ToggleThumbnails = "Näytä esikatselukuvat",
        PreviousPage = "Edellinen sivu",
        NextPage = "Seuraava sivu",
        PageOf = "/",
        ZoomIn = "Lähennä",
        ZoomOut = "Loitonna",
        RotateClockwise = "Kierrä myötäpäivään",
        RotateCounterclockwise = "Kierrä vastapäivään",
        SwitchOrientation = "Vaihda suuntaa",
        FirstPage = "Ensimmäinen sivu",
        LastPage = "Viimeinen sivu",
        ResetZoom = "Palauta zoomaus",
        PrintDocument = "Tulosta asiakirja",
        DownloadDocument = "Lataa asiakirja",
        Draw = "Piirrä",
        DrawingTools = "Piirtotyökalut",
        DrawingColor = "Väri",
        DrawingThickness = "Viivan paksuus",
        DrawingUndo = "Kumoa",
        DrawingClear = "Tyhjennä"
    };
}