@page "/docs/loading"
@using MudBlazor.PdfViewer.Docs.Code

<PageTitle>Blazor PDF | Loading PDFs</PageTitle>

<PageMetadata Title="Blazor PDF | Loading PDFs"
              Description="PDFs can be loaded by providing either a URL or a base64 encoded PDF file."
              Url="https://blazorpdf.info/docs/loading"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">Loading PDFs</MudText>
            <MudText>PDFs can be loaded by providing either a URL or a base64 encoded PDF file. Either set the "Url" parameter to your pdf's url / base64 encoded pdf or use the "LoadPdfAsync" function.</MudText>

            <MudText Typo="Typo.h4" Class="mt-5 mb-1">URL Loading</MudText>
            <CodeSnippet Body="@QuickStart.Minimum"/>
            
            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Base64 Loading</MudText>
            <CodeSnippet Body="@Base64Example.Example"/>

            <MudText Typo="Typo.h4" Class="mt-5 mb-1">Loading with LoadPdfAsync</MudText>
            <CodeSnippet Body="@QuickStart.Manual"/>
        </MudItem>
    </MudGrid>
</div>