@page "/docs/mudblazor/home"
@using MudBlazor.PdfViewer.Docs.Code

<PageTitle>Blazor PDF | MudBlazor</PageTitle>

<PageMetadata Title="Blazor PDF | MudBlazor"
              Description="A dedicated package for MudBlazor is provided in order to provide a more seamless integration."
              Url="https://blazorpdf.info/docs/mudblazor/home"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid>
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="9" Style="overflow: auto">
            <MudText Typo="Typo.h2" Class="mb-5">MudBlazor Integration</MudText>

            <MudText>A dedicated package for
                <MudLink Href="https://mudblazor.com">MudBlazor</MudLink>
                is provided in order to provide a more seamless integration.
            </MudText>

            <MudText Class="my-3">The package provides a dedicated <code>MudPdfViewer</code> component that wraps the
                default Blazor PDF Viewer functionality and provides a viewer build out of MudBlazor specific
                components.
            </MudText>

            <MudText Class="my-3">This allows for a much tighter integration with your MudBlazor project theme as well
                as the ability to customise the PDF Viewer with MudBlazor icons and colours.
            </MudText>

            <CodeSnippet Body="@MudBlazorExample.Example" Lang="csharp"/>

            @* <MudPdfViewer Url="https://raw.githubusercontent.com/tgothorp/MudBlazor.PdfViewer/refs/heads/main/files/test_pdf_document.pdf"/> *@

        </MudItem>
    </MudGrid>
</div>

@code {

}