@page "/"
@using Icons = global::MudBlazor.Icons

<PageTitle>Blazor PDF</PageTitle>

<PageMetadata Title="Blazor PDF"
              Description="A simple, yet powerful PDF viewer for Blazor"
              Url="https://blazorpdf.info"/>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid Style="align-items: center">
        <MudItem xs="12" md="6">
            <MudText Typo="Typo.h1">Blazor PDF</MudText>
            <MudText Typo="Typo.body1">A simple, yet powerful PDF viewer for 
                <MudLink Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" Target="_blank" Color="Color.Primary">Blazor.</MudLink>
            </MudText>
            <MudText Typo="Typo.body2" Style="margin-top: 10px">Formally known as MudPdf Viewer</MudText>

            <MudStack Row="true" Class="mt-5" Justify="Justify.Center" Wrap="Wrap.NoWrap">
                <MudButton Style="flex: 1" Href="https://github.com/tgothorp/MudBlazor.PdfViewer" Target="_blank" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" StartIcon="@Icons.Custom.Brands.GitHub">GitHub</MudButton>
                <MudButton Style="flex: 1" Href="https://www.nuget.org/packages/Gotho.MudBlazor.PdfViewer/#readme-body-tab" Target="_blank" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Download">Nuget</MudButton>
                <MudButton Style="flex: 1" Href="/docs" Variant="Variant.Filled" Size="Size.Large" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Article">Documentation</MudButton>
            </MudStack>
        </MudItem>
        <MudItem xs="12" md="6" Style="text-align: center">
            <MudImage Src="/img/square_small.png" Fluid="true"/>
        </MudItem>
    </MudGrid>
</div>

<div style="width: 100vw; max-width: 100%; background-color: #1b1129; padding: 35px; left: 0; margin-top: 50px;">
    <div style="max-width: 1440px; margin: auto">
        <MudGrid Class="mt-5">
            <MudItem xs="12" Style="text-align: center">
                <MudText Color="Color.Tertiary" Typo="Typo.h2">Features</MudText>
            </MudItem>
            <MudItem xs="12" md="6" Style="text-align: center">
                <MudStack Spacing="5">
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Display PDF files inline with your content</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Seamless integration with your existing Blazor project</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Single page or scrolling modes</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Respond to document loaded & page changed events</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6" Style="text-align: center">
                <MudStack Spacing="5">
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Supports password protected PDF files</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Download and print PDFs directly from the component</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Zoom, page, rotate and draw on your PDF files inline</MudText>
                    <MudText Color="Color.Tertiary" Typo="Typo.body1">Apache-2.0 License</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" Class="mt-5" Style="text-align: center; padding-bottom: 20px; padding-top: 50px;">
                <MudText Color="Color.Tertiary" Typo="Typo.body1">See the
                    <MudLink Href="/docs/quickstart" Color="Color.Primary" Typo="Typo.body1">Quickstart Guide</MudLink>
                    to get up and running!
                </MudText>
            </MudItem>
        </MudGrid>
    </div>
</div>

<div style="max-width: 1440px; margin: auto">
    <MudGrid Class="mt-5">
        <MudItem xs="12" Style="text-align: center">
            <div style="position: relative; width: 50%; left: 25%;">
                <MudText Typo="Typo.h2">Demo</MudText>
                <MudText Typo="Typo.body1">Below is a demonstration of the out-of-the-box experience the Blazor PDF provides. To find out how the PDF viewer can be customised, please see the
                    <MudLink Href="/docs" Color="Color.Primary" Typo="Typo.body1">Documentation.</MudLink>
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="12" Class="mt-5">
            <PdfViewer Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf"/>
        </MudItem>
    </MudGrid>
</div>

<div style="width: 100vw; max-width: 100%; background-color: #1b1129; margin-top: 70px">
    <div style="max-width: 1440px; margin: auto">
        <MudGrid Class="py-1">
            <MudItem sm="6" Class="py-2" Style="text-align: left">
                <MudText Typo="Typo.body2" Color="Color.Tertiary">The Blazor PDF library is
                    <MudLink Typo="Typo.body2" Color="Color.Primary" Href="https://github.com/tgothorp/MudBlazor.PdfViewer?tab=readme-ov-file#license">licensed under Apache-2.0.</MudLink>
                </MudText>
            </MudItem>
            <MudItem sm="6" Class="py-2" Style="text-align: right">
                <MudText Typo="Typo.body2" Color="Color.Tertiary">Maintained by
                    <MudLink Typo="Typo.body2" Color="Color.Primary" Href="https://github.com/tgothorp">tgothorp</MudLink>
                </MudText>
            </MudItem>
        </MudGrid>
    </div>
</div>

@code {

}