@page "/docs/home"
@page "/docs"


<PageTitle>Mud PDF | Docs</PageTitle>

<div style="max-width: 1440px; margin: 3em auto auto;">
<MudGrid>
    <MudItem>
        <DocsMenu/>
    </MudItem>
    <MudItem>
        <MudText Typo="Typo.h2" Class="mb-5">Mud PDF</MudText>
    </MudItem>
</MudGrid>
</div>

@code {
    
}