<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="blazor, pdf, .net, dotnet, pdf.js" />
    <meta name="author" content="tgothorp" />
    <meta name="robots" content="index, follow" />
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#7CE504" />
    <base href="/"/>

    <meta property="og:site_name" content="Blazor PDF" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/ba6eed6d-1877-48a6-acc4-05875a13d22d.png?token=BkHD2a0VHyzqkryRl2Ux60eLZBRBE-RsCrBYDF3Qgbg&height=450&width=450&expires=33278765375">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="blazorpdf.info">
    <meta property="twitter:url" content="https://blazorpdf.info">
    <meta name="twitter:title" content="Blazor PDF">
    <meta name="twitter:description" content="A simple, yet powerful PDF viewer for Blazor">
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/ba6eed6d-1877-48a6-acc4-05875a13d22d.png?token=BkHD2a0VHyzqkryRl2Ux60eLZBRBE-RsCrBYDF3Qgbg&height=450&width=450&expires=33278765375">

    <link rel="canonical" href="https://blazorpdf.info/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="e0ab7790-9a9e-4953-907b-d8a1528f74c2"></script>

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/Gotho.BlazorPdf.MudBlazor/blazorpdf_mudblazor.min.css" rel="stylesheet"/>
    <link href="_content/Gotho.BlazorPdf/blazorpdf.min.css" rel="stylesheet"/>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>