@page "/base64"
@using Gotho.BlazorPdf.Tests.Server.Data

<PageTitle>Base64 Document</PageTitle>

<PdfViewer @ref="_pdfViewer"/>

<button @onclick="LoadPdf">Load it</button>

@code {

    private string url = string.Empty;

    public required PdfViewer _pdfViewer { get; set; }
    
    private async Task LoadPdf()
    {
        url = PdfBase64String.File;
        await _pdfViewer.LoadPdfAsync(url);

        StateHasChanged();
    }
}