@page "/"

<PageTitle>Home</PageTitle>

<div style="margin-top: 350px">
    <PdfViewer Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf"/>
</div>

@code{
    
}
