@page "/docs/orientation"
@using MudBlazor.PdfViewer.Docs.Code

<PageTitle>Mud PDF | Orientation</PageTitle>

<div style="max-width: 1440px; margin: 3em auto auto;">
    <MudGrid Style="flex-wrap: nowrap">
        <MudItem sm="3">
            <DocsMenu/>
        </MudItem>
        <MudItem sm="10">
            <MudText Typo="Typo.h2" Class="mb-5">Orientation</MudText>
            <MudText>Although you can rotate PDF within the PDF viewer, you can also manually specify an orientation.</MudText>

            <CodeSnippet Body="@OrientationExample.Example"/>
            
            <MudPdfViewer 
                Orientation="MudBlazorPdf.Orientation.Landscape"
                Url="https://raw.githubusercontent.com/tgothorp/MudBlazor.PdfViewer/refs/heads/main/files/test_pdf_document.pdf"/>
        </MudItem>
    </MudGrid>
</div>

@code {

}