@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="false"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="0">
        <MudLink Href="/">
            <MudImage Height="64" Width="64" Src="/img/square_icon.png"/>
        </MudLink>
        <MudLink Href="/">
            <MudText Class="ml-5" Color="Color.Tertiary">Blazor PDF</MudText>
        </MudLink>
        <MudSpacer/>
        <MudIconButton Href="https://github.com/tgothorp/MudBlazor.PdfViewer" Icon="@Icons.Custom.Brands.GitHub"
                       Color="Color.Tertiary" Target="_blank"/>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#F009AF",
                PrimaryLighten = "#f33abf",
                PrimaryDarken = "#d8089e",

                Secondary = "#7CE504",
                SecondaryLighten = "#96ea36",
                SecondaryDarken = "#70ce04",

                AppbarBackground = "#7CE504",

                Tertiary = "#FFFFFF",

                Surface = "#e8e7ea"
            },
            Typography = new Typography
            {
                Default = new DefaultTypography
                {
                    FontFamily = ["Aldrich", "elvetica", "Arial", "sans-serif"],
                    FontSize = "1.3rem",
                    FontWeight = "400",
                    LineHeight = "1",
                    LetterSpacing = "0",
                },
                Body1 = new Body1Typography
                {
                    FontFamily = ["Aldrich", "elvetica", "Arial", "sans-serif"],
                    FontSize = "1.3rem",
                    FontWeight = "400",
                    LineHeight = "1",
                    LetterSpacing = "0",
                }
            }
        };
    }

}