@import url("../../Gotho.BlazorPdf/wwwroot/blazorpdf.css");

.mudpdf_container {
    margin-left: 24px;
    padding-bottom: 24px;
    position: relative;
}

.mudpdf_thumbnail canvas {
    overflow: auto;
}

.mudpdf_thumbnails {
    max-width: 11%;
    min-width: 155px;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    margin-left: 1rem;
    background-color: #161719;
    top: 1em;
    bottom: 1em;
}

.mudpdf_thumbnail {
    margin: 2px 2px 2px 2px;
    border: 5px solid #fff0;
}

.mudpdf_thumbnail:hover {
    border: 5px solid #404040;
    cursor: pointer;
}

.mudpdf_scroll {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161719;
    padding: 20px 0;
}

.mudpdf_scroll_page {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    display: block;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.mudpdf_password {
    padding: 5rem;
}