@import url("../../Gotho.BlazorPdf/wwwroot/blazorpdf.css");

.mudpdf_password {
    margin: auto;
    padding: 5rem;
}

.mudpdf_drawcard {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}